.square,
.squareActive {
  position: relative;
  border: none;
  color: #fff;
  height: 33.33%;
  width: 33.33%;
  overflow: hidden;
  background: transparent;
}

.squareActive {
  .mole {
    transform: translate(-50%, 0%);
  }
}

.squareBoard {
  margin: 5rem auto;
  height: 500px;
  width: 500px;
}

.mole {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: 0.3s transform ease-in-out;

  img {
    height: 100px;
    width: 100px;
  }
}
.ground {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translatex(-50%);

  img {
    height: auto;
    width: 150px;
    z-index: 2;
  }
}
