.container {
  height: 100%;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.startBtn {
  cursor: pointer;
  display: block;
  background: #000;
  width: 500px;
  padding: 1rem 4rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  color: #fbd836;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  padding: 2rem;
  background: rgb(26, 25, 25);
  color: #fbd836;
  transform: translate(-50%, -50%);
}
